body {
    background-color: white;
    background-image: url("../images/background/login_background.png");
    overflow: hidden;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.logbox {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.box {
    border: 0px solid;
    width: 600px;
    height: 350px;
    background-color: #ef9273;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 3px 3px lightgray;
}

#logo {
    transform: rotate(90deg);
    position: relative;
    width: 348px;
    bottom: 139px;
    border-color: black;
}

.content {
    margin-top: 17px;
    width: 300px;
    height: 350px;
    border: 0px solid;
    background-color: #fef9f8;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    float: right;
    bottom: 340px;
}

form {
    margin-left: 8px;
    position: relative;
    margin-top: -3px;
}

input {
    height: 40px;
    width: 276px;
    margin-top: 10px;
    position: relative;
    border: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#one {
    width: 280px;
    position: relative;
    border-color: black;
}

h1 {
    margin-top: 0px;
    margin-bottom: -1px;
    position: relative;
    text-align: center;
}

.registerbut {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    position: relative;
    border: 0px solid #ef9273;
    background-color: #ef9273;
    width: 100px;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.registerbut a {
    position: relative;
    text-decoration: none;
    color: white;
    margin-left: 20%;
    top: 20%;
}

.registerbut:hover {
    filter: brightness(85%);
}

.logbut a {
    position: relative;
    text-decoration: none;
    color: black;
    top: 20%;
    margin-left: 19%;
}

.logbut a:hover {
    color: grey;
}

.logo img {
    position: relative;
    top: 25px;
}
